__pycache__/essai_solveur.cpython-311.pyc
__pycache__/find_neighbours.cpython-311.pyc
__pycache__/is_possible.cpython-311.pyc
__pycache__/convert.cpython-311.pyc
__pycache__/convert.cpython-311.pyc
__pycache__/convert.cpython-311.pyc
__pycache__/solver1.cpython-311.pyc
__pycache__/solver2.cpython-311.pyc
__pycache__/convert.cpython-311.pyc
__pycache__/solver2.cpython-311.pyc
__pycache__/op_surlistes.cpython-311.pyc
__pycache__
